---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Competences">
    <main>
        <Card
            href="/"
            title="Back"
            body="Keep exploring"
        />
        <ul>
            <ol>
                <h3>BackEnd Development</h3>
                <p>ASP.NET Core, C#, Python, SQL, Database Design</p>
            </ol>
            <ol>
                <h3>FrontEnd Development</h3>
                <p>JavaScript, TypeScript, Angular, HTML, CSS, Astro</p>
            </ol>
            <ol>
                <h3>Software Development</h3>
                <p>Git, Docker, Bash, Linux environment</p>
            </ol>
            <ol>
                <h3>Cybersecurity</h3>
                <p>Wireshark</p>
            </ol>
            <ol>
                <h3>Other</h3>
                <p>C++, GraphQL</p>
            </ol>
            <ol>
                <h3>Future Projects</h3>
                <p>React, Go, Rust and Kubernetes"</p>
            </ol>
        </ul>
    </main>
</Layout>