---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Competences">
    <main>
        <Card
            href="/"
            title="Back"
            body="Keep exploring"
        />
        <ul>
            <ol>
                <h3><strong class="ema-gradient">BackEnd Development</strong></h3>
                <p>ASP.NET Core, C#, Python, SQL, Database Design</p>
            </ol>
            <ol>
                <h3><strong class="ema-gradient">FrontEnd Development</strong></h3>
                <p>JavaScript, TypeScript, Angular, HTML, CSS, Astro</p>
            </ol>
            <ol>
                <h3><strong class="ema-gradient">Software Development</strong></h3>
                <p>Git, Docker, Bash, Linux environment</p>
            </ol>
            <ol>
                <h3><strong class="ema-gradient">Cybersecurity</strong></h3>
                <p>Wireshark</p>
            </ol>
            <ol>
                <h3><strong class="ema-gradient">Other</strong></h3>
                <p>C++, GraphQL</p>
            </ol>
            <ol>
                <h3><strong class="astro-gradient">Future Projects</strong></h3>
                <p>React, Go, Rust and Kubernetes</p>
            </ol>
        </ul>
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
	}

    ol h3 strong {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position-y: 100%;
    }

	.astro-gradient {
		background-image: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.ema-gradient {
		background-image: linear-gradient(0deg, #580258, #d1cc8b);
	}

	.subtitle {
		opacity: 0.5;
		font-size: 75%;
	}
</style>