---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Competences">
    <main>
        <Card
            href="/"
            title="Back"
            body="Keep exploring"
        />
    </main>
</Layout>