---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Experiences">
    <link rel="stylesheet" href="/styles/info.css" slot="style"/>
    <main>
		<ul role="list" class="link-card-grid">
            <Card
                href="/"
                title="Back"
                body="Keep exploring"
            />
			<Card
				href="/competencies/"
				title="Competencies"
				body="Here you can find my main techical strenghts and focuses. Be my guest!"
			/>
            <Card
                href="/formation/"
                title="Formation"
                body="Discover more about my formation background"
            />
        </ul>
        <ul>
            <ol>
                <h3><strong>FullStack Developer</strong><br>
                    <span class="subtitle">at Hyntelo s.r.l., Pisa, Italy (July 2022 - Current Position)</span>
                </h3>
                <ul>
                    <p>I am working mainly at:</p>
                    <ol>Debugging and refactoring an Angular FrontEnd and an ASP.Net Core BackEnd</ol>
                    <ol>Query optimization</ol>
                    <ol>Developing automated tests in C#, using xunit, for an ASP.Net Core BackEnd</ol>
                </ul>
            </ol>
            <ol>
                <h3><strong>BackEnd Developer</strong><br>
                     <span class="subtitle">at Geckosoft s.r.l., Pisa, Italy (September 2021 - November 2021)</span>
                </h3>
                <ul>
                    <p>During the experience I worked mainly at:</p>
                    <ol>Developing new features in ASP.NET Core</ol>
                    <ol>Developing automated tests in TypeScript, using Cypress in particular, for the aforementioned features</ol>
                    <p>In addition to that, I also set up a VPN (WireGuard in particular) and worked with Docker to set up an independent registry
                        Other tools used were: Git, GitHub for versioning and TeamCity to manage the CI builds
                        I also became familiar with Agile methodologies</p>
                </ul>
            </ol>
            <ol>
                <h3><strong>Junior System Administrator</strong><br>
                     <span class="subtitle">at Iamboo s.r.l., Pontedera, Pisa, Italy (June 2021 - September 2021)</span>
                </h3>
                <ul>
                    <p>During the internship I worked mainly at:</p>
                    <ol>Developing scripts to manage the filesystem in Python and Bash</ol>
                    <ol>Creating and managing virtual environments, such as Virtual Machines and Containers</ol>
                    <ol>Analyzing network packets with Wireshark, especially layer 3 and layer 4 packets</ol>
                </ul>
            </ol>
            <ol>
                <h3><strong>Junior FrontEnd Developer</strong><br>
                    <span class="subtitle">at Nextworks s.r.l., S. Piero a Grado, Pisa, Italy (September 2019 - April 2020)</span>
                </h3>
                <ul>
                    <p>During the internship I worked mainly at:</p>
                    <ol>Developing the frontend of web pages with the Angular.js framework</ol>
                    <ol>Developing the backend of those pages in Python using Tornado</ol>
                    <p>Other languages and tools used during the internship: Git for versioning and VirtualBox for system virtualization</p>
                </ul>
            </ol>
        </ul>
    </main>
</Layout>