---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Experiences">
    <link rel="stylesheet" href="/curriculum-astro/styles/info.css" slot="style"/>
    <main>
		<ul role="list" class="link-card-grid">
            <Card
                href="/curriculum-astro/"
                title="Back"
                body="Keep exploring"
            />
			<Card
				href="/curriculum-astro/competencies/"
				title="Competencies"
				body="Here you can find my main techical strenghts and focuses. Be my guest!"
			/>
            <Card
                href="/curriculum-astro/education/"
                title="Education"
                body="Discover more about my education background"
            />
        </ul>
        <ul>
            <li class="ccard">
                <article>
                    <h3><strong>FullStack Developer</strong><br>
                        <span class="subtitle">at Hyntelo s.r.l., Pisa, Italy (July 2022 - Current Position)</span>
                    </h3>
                    <section>
                        <p>I am working mainly at:</p>
                        <ul>
                            <li>Debugging and refactoring an Angular FrontEnd and an ASP.Net Core BackEnd</li>
                            <li>Query optimization</li>
                            <li>Developing automated tests in C#, using xunit, for an ASP.Net Core BackEnd</li>
                        </ul>
                    </section>
                </article>
            </li><br>
            <li class="ccard">
                <article>
                    <h3><strong>BackEnd Developer</strong><br>
                         <span class="subtitle">at Geckosoft s.r.l., Pisa, Italy (September 2021 - November 2021)</span>
                    </h3>
                    <section>
                        <p>During the experience I worked mainly at:</p>
                        <ul>
                            <li>Developing new features in ASP.NET Core</li>
                            <li>Developing automated tests in TypeScript, using Cypress in particular, for the aforementioned features</li>
                        </ul>
                        <p>In addition to that, I also set up a VPN (WireGuard in particular) and worked with Docker to set up an independent registry</p>
                        <p>Other tools used were: Git, GitHub for CI and TeamCity to manage the CI builds</p>
                        <p>I also became familiar with Agile methodologies</p>
                    </section>
                </article>
            </li><br>
            <li class="ccard">
                <article>
                    <h3><strong>Junior System Administrator</strong><br>
                        <span class="subtitle">at Iamboo s.r.l., Pontedera, Pisa, Italy (June 2021 - September 2021)</span>
                    </h3>
                    <section>
                        <p>During the internship I worked mainly at:</p>
                        <ul>
                            <li>Developing scripts to manage the filesystem in Python and Bash</li>
                            <li>Creating and managing virtual environments, such as Virtual Machines and Containers</li>
                            <li>Analyzing network packets with Wireshark, especially layer 3 and layer 4 packets</li>
                        </ul>
                    </section>
                </article>
            </li><br>
            <li class="ccard">
                <article>
                    <h3><strong>Junior FrontEnd Developer</strong><br>
                        <span class="subtitle">at Nextworks s.r.l., S. Piero a Grado, Pisa, Italy (September 2019 - April 2020)</span>
                    </h3>
                    <section>
                        <p>During the internship I worked mainly at:</p>
                        <ul>
                            <li>Developing the frontend of web pages with the Angular.js framework</li>
                            <li>Developing the backend of those pages in Python using Tornado</li>
                        </ul>
                        <p>Other languages and tools used during the internship: Git for versioning and VirtualBox for system virtualization</p>
                    </section>
                </article>
            </li>
        </ul>
    </main>
</Layout>

<style>
    section ul {
        list-style: url('/images/cog.svg');
    }

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}
</style>