---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Formation">
    <main>
        <Card
            href="/"
            title="Back"
            body="Keep exploring"
        />
    </main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
	}
</style>